body {
  font-family: sans-serif;
  background: #DDD;
  font-size: medium;
}

header {
  margin-bottom: 0.25em;
  color: #444;
  border-bottom: 1px solid #444;
}

div#fontButtonContainer {
  display: table;
  position: relative;
  right: 0.25em;
  table-layout: fixed;
  width: 6em;
  border-collapse: separate;
  border-spacing: 0.25em 0em;
}

body > span {
  font-size: larger;
}

input {
  font-size: 120%;
}

div.minibutton {
  text-align: center;
  display: inline;
  width: auto;
  border: 1px solid #777;
  padding: 0.25em;
  background: linear-gradient(#AAA, #888);
  cursor: pointer;
  box-shadow: 0 0.2em 0.25em #000;
  display: table-cell;
}

div.minibutton#smallFont {
  font-size: smaller;
}

div.minibutton#bigFont {
  font-size: larger;
}

div#err {
  background: linear-gradient(#F20, #C00);
  border: 1px solid #000;
  padding: 0.25em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  box-shadow: 0 0.5em 1em #000;
}

div#confirm {
  background: linear-gradient(#04F, #22C);
  color: #FFF;
  border: 1px solid #000;
  padding: 0.25em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  box-shadow: 0 0.5em 1em #000;
}

div#err > p, div#confirm > p {
  margin: 0;
}

div#err > p:before {
  content: "Error: ";
  color: #400;
}

div#err2 {
  background: linear-gradient(#F20, #C00);
  border: 1px solid #000;
  padding: 0.25em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  box-shadow: 0 0.5em 1em #000;
}

div#confirm2 {
  background: linear-gradient(#04F, #22C);
  color: #FFF;
  border: 1px solid #000;
  padding: 0.25em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  box-shadow: 0 0.5em 1em #000;
}

div#err2 > p, div#confirm > p {
  margin: 0;
}

div#err2 > p:before {
  content: "Error: ";
  color: #400;
}

div#ulist, div#ilist {
  height: 8em;
  overflow-y: scroll;
  background: #EEE;
  box-shadow: inset 0 0 1em #000;
}

div#ulist > div, div#ilist > div {
  border-bottom: 1px solid #AAA;
  border-top: 1px solid #AAA;
  border-collapse: collapse;
  font-size: large;
  font-family: monospace;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

div#ulist > div:hover, div#ilist > div:hover {
  color: black ;
  background-color: #98F5FF ;.5em;
}

div#ulist > div > span, div#ilist > div > span {
  color: #444;
}

div#ulist > div > span.links, div#ilist > div > span.links {
  text-align: right;
  float: right;
}

footer {
  color: #444;
  border-top: 1px solid #444;
  font-size: x-small;
  float: bottom;
}

div.button {
  border: 1px solid #777;
  font-size: larger;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.25em;
  background: linear-gradient(#AAA, #888);
  cursor: pointer;
  box-shadow: 0 0.5em 1em #000;
}

div.button:hover, div.minibutton:hover {
  background: linear-gradient(#FFF, #AAA);
}

div.button:after {
  color: #444;
  content: "Click to Expand";
  text-align: right;
  float: right;
}

div.foldout {
  margin-top: 1em;
  margin-bottom: 1em;
  display: none;
}


label {
  font-size: 80%;
}

hr {
  page-break-after: always;
  visibility: hidden;
}

table.report {
  width: 100%;
}

 /* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* Style the close button */
.topright {
    float: right;
    cursor: pointer;
    font-size: 20px;
}

#myInput {
    background-image: url('searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 25%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myuserInput {
    background-image: url('searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 25%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    height: 8em;
	overflow-y: scroll;
	background: #EEE;
	box-shadow: inset 0 0 1em #000;
    padding: 0;
    margin: 0;
}


#myUL li a {
    border-bottom: 1px solid #AAA; /* Add a border to all links */
    border-top: 1px solid #AAA;
    border-collapse: collapse;
    margin-top: -1px; /* Prevent double borders */
    background-color: #EEE; /* Grey background color */
    padding: large; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    font-family: monospace;
    padding-left: 0.5em;
	padding-right: 0.5em;
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a.header {
    background-color: #e2e2e2; /* Add a darker background color for headers */
    cursor: default; /* Change cursor style */
}


#myUL li a:hover:not(.header) {
	color: black ;
    background-color: #98F5FF ;.5em; /* Add a hover effect to all links, except for headers */
}

#myULA {
    /* Remove default list styling */
    list-style-type: none;
    height: 3.5em;
	overflow-y: scroll;
	background: #EEE;
	box-shadow: inset 0 0 1em #000;
    padding: 0;
    margin: 0;
}


#myULA li a {
    border-bottom: 1px solid #AAA; /* Add a border to all links */
    border-top: 1px solid #AAA;
    border-collapse: collapse;
    margin-top: -1px; /* Prevent double borders */
    background-color: #EEE; /* Grey background color */
    padding: large; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    font-family: monospace;
    padding-left: 0.5em;
	padding-right: 0.5em;
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#myULA li a.header {
    background-color: #e2e2e2; /* Add a darker background color for headers */
    cursor: default; /* Change cursor style */
}


#myULA li a:hover:not(.header) {
	color: black ;
    background-color: #98F5FF ;.5em; /* Add a hover effect to all links, except for headers */
}

#myULB {
    /* Remove default list styling */
    list-style-type: none;
    height: 15em;
    width: 30em;
	overflow-y: scroll;
	background: #EEE;
	box-shadow: inset 0 0 1em #000;
    padding: 0;
    float: right;


}


#myULB li a {
    border-bottom: 1px solid #AAA; /* Add a border to all links */
    border-top: 1px solid #AAA;
    border-collapse: collapse;
    margin-top: -1px; /* Prevent double borders */
    background-color: #EEE; /* Grey background color */
    padding: large; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    font-family: monospace;
    padding-left: 0.5em;
	padding-right: 0.5em;
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#myULB li a.header {
    background-color: #e2e2e2; /* Add a darker background color for headers */
    cursor: default; /* Change cursor style */
}


#myULB li a:hover:not(.header) {
	color: black ;
    background-color: #98F5FF ;.5em; /* Add a hover effect to all links, except for headers */
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.icon-bar {
    width: 100%; /* Full-width */
    background-color: #DDD; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 10%; /* Equal width (5 icons with 20% width each = 100%)
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
    background-color: #ddd; /* Add a hover color */
    color: black;
}

.active {
    background-color: #333; /* Add an active/current color */
}
